<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>

      <ion-button slot="end" (click)="presentPopover($event)" fill="clear">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshInfo($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

        <br>
        <div class="center">
          <img *ngIf="readonly; else editable" class="profile-img" [src]="'./assets/users/' + me.iconName">
        </div>

        <ng-template #editable>
          <img class="profile-img editFocus" (click)="changeIcon()" [src]="'./assets/users/' + me.iconName">
        </ng-template>
  
        <ion-grid>
          <ion-row>
            <ion-col size="11" offset="1" size-sm="10" offset-sm="2" size-md="9" offset-md="3" size-lg="8" offset-lg="4" size-xl="7" offset-xl="5">
              <ion-item lines="none" *ngIf="readonly; else editNick">
                Nickname: <ion-input [(ngModel)]="me.nickname" [readonly]="readonly"></ion-input>
              </ion-item>

              <ng-template #editNick>
                <ion-item lines="none">
                  Nickname: <ion-input [(ngModel)]="me.nickname" class="editFocus" [readonly]="readonly"></ion-input>
                </ion-item>
              </ng-template>
            </ion-col>
          </ion-row>
        
      
          <ion-row>
            <ion-col size="11" offset="1" size-sm="10" offset-sm="2" size-md="9" offset-md="3" size-lg="8" offset-lg="4" size-xl="7" offset-xl="5">
              <ion-item lines="none">
                Email: <ion-input [(ngModel)]="me.email" readonly="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col size="11" offset="1" size-sm="10" offset-sm="2" size-md="9" offset-md="3" size-lg="8" offset-lg="4" size-xl="7" offset-xl="5">   
              <ion-item lines="none">
                <ion-label>Topic Created: {{ topicsCreated }} </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11" offset="1" size-sm="10" offset-sm="2" size-md="9" offset-md="3" size-lg="8" offset-lg="4" size-xl="7" offset-xl="5">   
              <ion-item lines="none">
                <ion-label>Topic Joined: {{ topicsJoined }} </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>


      </ion-grid>
     
</ion-content>

<ion-footer>
  <ion-toolbar transparent>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button size="medium" expand="block" fill="solid" color="primary" (click)="editAndSave()">
          <ion-icon [name]="readonly ? 'create' : 'checkmark'"></ion-icon> 
          {{ readonly ? 'Edit' : 'Save' }} profile
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button size="medium" expand="block" fill="solid" color="danger" (click)="deleteMe()">
          <ion-icon name="close-circle"></ion-icon> 
          Delete profile
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>