@media screen and (max-width:500px){
    .profile-img {
        width: 50%;
        height: 100%;
    }
}

@media screen and (max-width:1300px){
    .profile-img {
        width: 25%;
        height: 25%;
    }
}

ion-label {
    width: fit-content;
}

ion-input {
    width: fit-content;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.editFocus{
    border-style: solid;
    border-width: medium;
    border-color: orange;
}