<ion-header>
  <ion-toolbar>
    <ion-title>Telepic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <br>
  <ion-label class="title" color="primary">Sign Up</ion-label>
  <br>
  <div class="form__container">

    <ion-avatar>
      <img (click)="selectIcon()" [src]="'./assets/users/' + userSignUp.iconName">
    </ion-avatar>

    <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input [(ngModel)]="userSignUp.nickname" type="text" minlength="4" maxlength="20"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userSignUp.email" type="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="userSignUp.password" minlength="8" type="password"></ion-input>
    </ion-item>
  
    <ion-button class="uppercase"  [disabled]="isAllInvalid()" fill="solid" expand="block" (click)="signup()">create account</ion-button>
    <ion-button class="nouppercase" fill="clear" expand="block" (click)="goOnLogin()">Are you already enjoy? <b>SIGN IN</b></ion-button>
  </div>

</ion-content>

