.uppercase{
    text-transform: uppercase;
}

.nouppercase{
    text-transform: none;
}

.title{
    font-size: xx-large;
    align-content: center;
    padding-left: 10px;
}

img:hover {
    border-style: solid;
    border-width: medium;
    border-color: "primary";
}

.focusIcon{
    border-style: solid;
    border-width: medium;
    border-color: lightgreen;
}