<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-grid>
      <ion-row *ngIf="topic._creator; else UserTopicDeleted">
        <ion-col size="3" size-sm="2" size-md="2" size-lg="1" size-xl="1">
          <br>
          <ion-avatar>
            <img [src]="'../../../assets/topics/' + topic.iconName">
          </ion-avatar>
        </ion-col>
        <ion-col size="9" size-sm="10" size-md="10" size-lg="11" size-xl="11">
          <h4>{{ topic.name }}</h4>
          <p>{{ topic._creator.nickname }} in {{ topic.created_at | date : "dd.MM.yy" }}</p>
        </ion-col>
      </ion-row>

      <ng-template #UserTopicDeleted>
        <ion-row>
          <ion-col size="3" size-sm="2" size-md="2" size-lg="1" size-xl="1">
            <br>
            <ion-avatar>
              <img [src]="'../../../assets/users/me.png'">
            </ion-avatar>
          </ion-col>
          <ion-col size="9" size-sm="10" size-md="10" size-lg="11" size-xl="11">
            <h4>{{ topic.name }}</h4>
            <p>UserDeleted {{ topic.created_at | date : "dd.MM.yy" }}</p>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list *ngFor="let message of messages">
    <ion-item>
      
      <ion-grid *ngIf="isMyMessage(message); else notMyMessage">
        <ion-row>
          <ion-col size="3" size-sm="2" size-md="2" size-lg="1" size-xl="1">
            <ion-avatar class="user-avatar responsive">
              <img [src]="'../../../assets/users/' + message._creator.iconName">
            </ion-avatar>
          </ion-col>
          <ion-col class="message_text" size="9" size-sm="10" size-md="10" size-lg="11" size-xl="11">
            <ion-text class="myMex ion-text-wrap">
              <h5>{{ message._creator.nickname }} in {{ topic.created_at | date : "H.mm" }}</h5>
                  <p> {{ message.text }} </p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

    <ng-template #notMyMessage>
      <ion-grid>
        <ion-row *ngIf="message._creator; else UserDeleted">
          <ion-col class="message_text" size="9" size-sm="10" size-md="10" size-lg="11" size-xl="11">
            <ion-text class="notMyMex ion-text-wrap">
              <h5>{{ message._creator.nickname }} in {{ topic.created_at | date : "H.mm" }}</h5>
                  <p> {{ message.text }} </p>
            </ion-text>
          </ion-col>
          <ion-col size="3" size-sm="2" size-md="2" size-lg="1" size-xl="1">
            <ion-avatar class="user-avatar responsive">
              <img [src]="'../../../assets/users/' + message._creator.iconName">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template #UserDeleted>
      <ion-row>
        <ion-col class="message_text" size="9" size-sm="10" size-md="10" size-lg="11" size-xl="11">
          <ion-text class="notMyMex ion-text-wrap">
            <h5>User Deleted {{ topic.created_at | date : "H.mm" }}</h5>
                <p> {{ message.text }} </p>
          </ion-text>
        </ion-col>
        <ion-col size="3" size-sm="2" size-md="2" size-lg="1" size-xl="1">
          <ion-avatar class="user-avatar responsive">
            <img [src]="'../../../assets/users/me.png'">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ng-template>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ 120-input.value?.length}}</p>
    <div class="full border_input">
      <ion-textarea [disabled]="!isSubscribed()" maxlength="120" #input type="text" placeholder="insert message here" [(ngModel)]="mex.text" (keypress)="send($event.keyCode)"></ion-textarea>
    </div>
  </ion-toolbar>
</ion-footer>
