.border_input{
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
}

.full{
    width: 100%;
}

ion-toolbar > p{
    height: 1px;
    text-align: right;
}

.myMex{
    text-align: left;
    padding: 2px;
}

.notMyMex{ 
    text-align: right;
    padding: 2px;
}


.responsive {
    width: auto;
    height: auto;
  }

.responsive > img{
    max-width: 100%;
}

ion-grid{
    padding: 0px;
}

ion-row{
    height: fit-content;
    padding: 0px;
}

ion-col{
    height: fit-content;
    padding: 0px;
    margin: 0px;
}

h5, p{
    margin: auto;
}

.message_text{
    vertical-align: top;
}

h5{
    color: "primary";
}

.messages_container{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}