<ion-header>
  <ion-toolbar>
    <ion-title>{{ editMode ? 'Edit your' : 'Create new'}} Topic</ion-title>
    <ion-buttons slot="end">
    <ion-button color="dark" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked"> {{ editMode ? 'Edit your' : 'Create new'}} Topic </ion-label>
    <ion-input *ngIf="editMode; then editInputMode else newInputMode"></ion-input>
    
    <ng-template #editInputMode>
      <ion-input  minlength="4" maxlength="20" #input [(ngModel)]="topicToEdit.name"></ion-input>
      <p slot="end">{{ 20-input.value?.length}}</p>
    </ng-template>

    <ng-template #newInputMode>
      <ion-input  minlength="4" maxlength="20" #input [(ngModel)]="newTopic.name"></ion-input>
      <p slot="end">{{ 20-input.value?.length}}</p>
    </ng-template>
    
  </ion-item>

  <br>
  <ion-label>Choose an icon for your topic</ion-label>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let topicPic of topicsPics; let i = index">
        <ion-avatar (click)=changeClass(topicsPics[i])>
          <img [class]="className[i]" [src]="'./assets/topics/' + topicsPics[i] + '.svg'">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="isNameInvalid()" size="small" slot="end" shape="round" (click)="createOrEditTopic()"> {{ editMode ? 'Edit your' : 'Create new'}} Topic </ion-button>
  </ion-toolbar>
</ion-footer>