<ion-header>
  <ion-toolbar>
    <ion-title>Telepic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">

  <br>
  <ion-label class="title" color="primary">Login</ion-label>
  <br>
  <div class="form__container">
    <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input [(ngModel)]="userCredentials.nickname" minlength="4" maxlength="20" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="userCredentials.password" minlength="8" type="password"></ion-input>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button [disabled]="isAllInvalid()" expand="block" fill="solid" (click)="login()">LOGIN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="nouppercase" expand="block" fill="clear" (click)="goOnSignup()">New to Telepic? <b> SIGN UP</b></ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
