<ion-header>
  <ion-toolbar>
    <ion-title>User icon profile</ion-title>
    <ion-buttons slot="end">
    <ion-button color="dark" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Choose an icon for your account</ion-label>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let userPic of usersPics; let i = index">
        <ion-avatar (click)=changeClass(usersPics[i])>
          <img [class]="className[i]" [src]="'./assets/users/' + usersPics[i] + '.svg'">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button size="small" slot="end" shape="round" (click)="changeAndExit()"> Change profile icon </ion-button>
  </ion-toolbar>
</ion-footer>