<ion-header>
  <ion-toolbar>
    <ion-title translucent>Explore</ion-title>
    <ion-searchbar [(ngModel)]="search" (keypress)="searchTopics($event.keyCode)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <h2 *ngIf="isEmpty">Nothing to see here</h2>
  <ion-list>

    <ion-item *ngFor="let topic of topics; let i = index" class="unselectable">

      <ion-thumbnail class="user-avatar">
        <img [src]="'../../../assets/topics/' + topic.iconName">
      </ion-thumbnail>

      <ion-label (click)="enterTopic(topic)" class="ion-text-wrap">
        <ion-text color="primary">
          <h2 color="primary">{{ topic.name }}</h2>
        </ion-text>
          <p>{{ getAuthor(topic) }} - {{ topic.created_at | date : "dd.MM.yy" }}</p>
      </ion-label>

      <ion-button *ngIf="!isSub[i]; else NotSubscribed" shape="round" size="small" (click)="subscribeTopic(topic,i)">
        Join
      </ion-button>

    <ng-template #NotSubscribed>
      <ion-button shape="round" size="small" fill="clear" (click)="unSubscribeTopic(topic,i)">
        Joined
    </ion-button>
    </ng-template>
    
    </ion-item>

  </ion-list>

</ion-content>
