<ion-header translucent>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-searchbar [(ngModel)]="search" (keypress)="searchTopics($event.keyCode)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <h2 *ngIf="isEmpty">You haven't created a topic yet</h2>
  <ion-list *ngFor="let topic of topics">
    <ion-item-sliding>

      <ion-item (click)="enterTopic(topic)">

        <ion-thumbnail class="user-avatar">
          <img [src]="'../../../assets/topics/' + topic.iconName">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h2 color="primary">{{ topic.name }}</h2>
          </ion-text>



          <p *ngIf="canEdit(topic); then myTopic else notMyTopic"></p>

          <ng-template #myTopic>
            <ion-text color="secondary">
              <p>{{ getAuthor(topic) }} - {{ topic.created_at | date : "dd.MM.yy" }}
              <ion-icon slot="end" name="person-sharp" color="danger-tint"></ion-icon>
              </p>
            </ion-text>
          </ng-template>

          <ng-template #notMyTopic>
            <p>{{ getAuthor(topic) }} - {{ topic.created_at | date : "dd.MM.yy" }}</p>
          </ng-template>
          
        </ion-label>
        
      </ion-item>

    <!--Edit-->
    <ion-item-options *ngIf="canEdit(topic)" side="start">
      <ion-item-option color="primary" (click)=createOrEditTopic(topic)>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <!--Delete-->
    <ion-item-options *ngIf="canEdit(topic)" side="end">
    <ion-item-option color="danger" (click)="delete(topic)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    </ion-item-options>

    <!--Unsubscribe-->
    <ion-item-options *ngIf="!canEdit(topic)" side="end">
      <ion-item-option color="warning" (click)="unSubscribe(topic)">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createOrEditTopic()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>