<ion-list>
  <ion-item (click)="delete()">
    <ion-label>
      Delete Profile
    </ion-label>
  </ion-item>
  <ion-item (click)="logout()">
    <ion-label>
      Logout
    </ion-label>
  </ion-item>
</ion-list>